
.img-class {
    filter: drop-shadow(10px 10px 100px #222);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}

h1 {
    
    text-align: center;
    font-size: 50px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;

}

.een {
    float: left;
    font-family: 'Roboto', sans-serif;
    margin-left: 100px;
}

.een1 {
  float: left;
  font-family: 'Roboto', sans-serif;
  margin-left: 0px;
}



.twee {
    float: right;
    font-family: 'Roboto', sans-serif;
    margin-right: 100px;
}

.twee1 {
  float: right;
  font-family: 'Roboto', sans-serif;
  margin-right: 0px;
}



.button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;

  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.Speler1 {
    position: absolute;
   top: 200px;
   left: 10px;
}

.Speler2 {
    position: absolute;
   top: 200px;
right: 10px;
}

.kogel {
  transform: scale(0.2);
  margin: -130px;
}

.tooltip {
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
width: 200px;
margin-left: 50px;
padding: 20px;
margin-bottom: 20px;
}

p {
  display: inline;
  font-size: 20px;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}

.blauw {
  color: blue;
}

.rood {
  color: red;
}

.peace-out {
  /* to fade out */
  opacity: 0;
}

#Nep {
  margin-left: 40%;
  display: none;
}


